.post-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: auto;
  max-width: 500px;
  gap: 10px;
}

.item {
  background-color: rgb(182, 182, 182);
  border-radius: 25px;
  padding: 25px;
}
