#root {
  max-width: 1280px;
  margin-top: 0;
  padding: 2rem;
  text-align: center;
}

h1:hover {
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-home-btn {
  margin: 20px 5px;
}
