.user-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  background-color: black;
  border-radius: 10px;
  padding: 10px 20px;
}

.user-container * {
  cursor: pointer;
}

.user-container:hover {
  background-color: rgb(14, 14, 14);
  /* border-color: rgb(54, 54, 54); */
}