.item-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 20px;
  background-color: black;
  border-radius: 10px;
  padding: 10px 20px;
  justify-content: space-between;
}

.item-container * {
  cursor: pointer;
}

.item-container:hover {
  background-color: rgb(14, 14, 14);
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  align-items: center;
}