.card {
  width: auto;
  border-radius: 25px;
  min-height: 100px;
  background-color:  rgb(182, 182, 182);
  padding: 2em;
}

.search-input {
  width: 80%;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  background-color: rgb(201, 201, 201);
}
