.user-container {
  display: flex;
  background-color: gray;
  flex-direction: column;
  align-items: start;
  height: auto;
  padding: 20px;
  border-radius: 20px;
}

.go-to-comments-btn {
  margin-top: 10px;
}
